<div style="margin: 50px; text-align: center;">
   <h3> Employer Login</h3>
   <div style="margin: 30px auto;"><a href="/employee/register">Go to Register Page</a></div>
   <div style="margin: 30px auto;"><a href="/">Go to Home Page</a></div>

</div>
<div style="border: 1px solid black; padding:20px; width: 30%; margin-left: 35%;">
    <form method="POST" action="/employee/login">
        <div style="margin-bottom: 10px;">
            email: <input type="email" name="email">
        </div>
        <div style="margin-bottom: 10px;">
            password: <input type="password" name="password">
        </div>
        <div style="margin-bottom: 10px;">
            <button role="submit">Click</button>
        </div>
     </form>
</div>