<div style="margin: 50px; text-align: center;">
    <h3> Home</h3>
 </div>
 
 <div style="border: 1px solid black; padding:20px; width: 30%; margin-left: 35%; display: flex; justify-content: center;">
        <div  style="width: 50%; text-align: center;">
            <h3 style="margin-bottom: 30px;" >Employer</h3>
            <div style="margin-bottom: 40px;">
                <a href="/employee/register">Employer Register</a>
              </div>
              <div style="margin-bottom: 40px;">
                  <a href="/employee/login">Employer Login</a>
              </div> 
        </div>
        <div style="width: 50%; text-align: center;">
            <h3 style="margin-bottom: 30px;"> Candidate</h3>
            <div style="margin-bottom: 40px;">
                <a href="/candidate/register">Candiadt Register</a>
            </div>
            <div style="margin-bottom: 40px;">
                <a href="/candidate/login">Candiadte  Login</a>
            </div>
        </div>

 </div>